* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.about_row {
  display: flex;
}

.about_column {
  flex: 50%;
}

@media (max-width: 500px) {
  .about_row {
    flex-direction: column;
  }
  .intro__list {
    width: 75%;
  }
}
.input-size {
  width: 75%;
}

section {
  width: 100%;
  min-height: 450px;
}

.wave, .wave-top {
  position: relative;
  background: linear-gradient(90deg, #f476f2, #3df0a5);
}

.wave:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../wave.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wave-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: url(../wave-top.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  .wave:before {
    background: url(../wave-800.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 800px) {
  .wave:before {
    background: url(../wave-500.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .wave:before {
    background: url(../wave-1200.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.header__list {
  display: flex;
  justify-content: center;
  margin: 10px 15px 10px 0;
}

.header__link {
  font-size: 25px;
}

.header__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 20px;
  }
}
.full-bar {
  display: flex;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
}

.container {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  background: linear-gradient(90deg, #f736f4, #f561f3, #f476f2, #3df0a5);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
  font-size: 25px;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
  color: cornflowerblue;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: linear-gradient(to bottom, #4568dc, #b06ab3);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding-left: 10px;
}

.skills__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.skills__item:not(:last-child) {
  margin-right: 15px;
}

.skills__header {
  font-size: 50px;
  text-align: center;
  margin: 10px auto;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skills__item h3 {
  font-size: 12px;
}

.change-color-name {
  color: blue;
}

.change-color-name, .change-color {
  font-size: 70px;
  text-align: center;
  margin: 10px auto;
}

.intro {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(90deg, #f736f4, #f561f3, #f476f2, #3df0a5);
}

.intro__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 125px;
}

.intro__item {
  display: flex;
  flex-direction: column;
}

.intro__item:not(:last-child) {
  margin-right: 15px;
}

.intro__link-text, .intro__link, .intro__link:visited {
  color: #084298;
}

.intro__link-text:hover, .intro__link:hover {
  color: beige;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .change-color, .change-color-name {
    font-size: 45px;
    padding: 10px;
  }
}
.about-me-text {
  font-size: 20px;
  line-height: 1.75;
  margin: 10px 10%;
}

.about__avatar {
  width: 125px;
  height: 125px;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.portfolio {
  padding-top: 175px;
  background: linear-gradient(90deg, #f736f4, #f561f3, #f476f2, #3df0a5);
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 14%;
  padding: 10px;
  width: 400px;
  background-image: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
  margin-bottom: 10px;
}

.portfolio__item:not(:last-child) {
  margin-right: 20px;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio__item-header {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}

.portfolio__image {
  width: 75%;
  height: 175px;
  margin: 0 auto;
}

.portfolio__buttons {
  display: flex;
  justify-content: space-evenly;
}

.portfilio__link {
  padding: 5px 7px;
  border: 1px solid black;
  border-radius: 28%;
  background-color: rgb(187, 187, 231);
}

.portfilio__link-button {
  border: none;
  background-color: rgb(187, 187, 231);
}

.portfilio__link-button:hover {
  border: none;
  background-color: rgb(106, 106, 143);
}

.portfolio__desc {
  padding: 15px;
}

.portfolio__skills {
  display: flex;
}

.portfolio__skills-button {
  margin: 10px auto;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 31%;
}

.button__text {
  padding-left: 5px;
  color: rgb(98, 191, 237);
}

.portfolio__skills-svg {
  margin-right: 3px;
}

.portfolio__skills-button:not(:last-child) {
  margin-right: 5px;
}

.portfolio__type {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 5px;
}

@media screen and (max-width: 450px) {
  .portfolio__item {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .change-color, .change-color-name {
    font-size: 45px;
    padding: 10px;
  }
  .skills__header {
    font-size: 30px;
  }
  .about-me-text {
    font-size: 15px;
  }
  .portfolio__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .skills__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
.contact-us {
  width: 50%;
  margin: 5px auto;
}

.contact-section {
  width: 100%;
  background: linear-gradient(90deg, #f736f4, #f561f3, #f476f2, #3df0a5);
}/*# sourceMappingURL=main.css.map */