@media screen and (max-width: 600px) {
    .change-color, .change-color-name{
        font-size: 45px;
        padding: 10px;
    }
    .skills__header{
        font-size: 30px;
        
    }   
    .about-me-text {
        font-size: 15px; 
    }
    .portfolio__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px;
    }
.skills__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;


}
    }