.contact-us{
    width: 50%;
    margin: 5px auto;
}
.contact-section{
    width: 100%;
    //background: linear-gradient(90deg, #f0027f, #f75489);
background: linear-gradient(90deg, #f736f4, #f561f3, #f476f2, #3df0a5);
}