.chande-color-name{
    color: blue;
   
}
.chande-color-name, .chande-color {
    font-size: 70px;
    text-align: center;
    margin: 10px auto;
}

.intro{
    margin: 0 auto;
    text-align: center;
}