.portfolio__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.portfolio{
    padding-top: 175px;
   // background: linear-gradient(90deg, #f0027f, #f75489);
background: linear-gradient(90deg, #f736f4, #f561f3, #f476f2, #3df0a5);
}

.portfolio__item{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 14%;
    padding: 10px;
    width: 400px;
    background-image: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
margin-bottom: 10px;

}
.portfolio__item:not(:last-child){
margin-right: 20px;
}

.portfolio-header{
    text-align: center;
    margin-bottom: 20px;
   
}

.portfolio__item-header{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
}

.portfolio__image{
    width: 75%;
    height: 175px;
    margin: 0 auto;
}

.portfolio__buttons{
    display: flex;
    justify-content: space-evenly;
}

.portfilio__link{
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 28%;
    background-color: rgb(187, 187, 231);
}

.portfilio__link-button{
    border: none;
    background-color: rgb(187, 187, 231);
}
.portfilio__link-button:hover{
    border: none;
    background-color: rgb(106, 106, 143);
}
.portfolio__desc{
    padding: 15px;
}

.portfolio__skills{
    display: flex;
   
}

.portfolio__skills-button{
    margin: 10px auto;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 31%;
    //background-color: rgb(238, 245, 247);
    //font-size: 10px;
    }

    .button__text{
        padding-left: 5px;
        color: rgb(98, 191, 237);
    }

.portfolio__skills-svg{
    margin-right: 3px
}

.portfolio__skills-button:not(:last-child){
    margin-right: 5px;
};

.portfolio__type{
    display: flex;
    justify-content: center;
      font-size: 30px;
}

@media screen and (max-width: 450px) {
    .portfolio__item {
        width: 90%;
    }
}