

.skills__list{
display: flex;
    flex-wrap: wrap;
    list-style-type: none;
        justify-content: center;
        padding-left: 10px;
}

.skills__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
    
   
}


.skills__item:not(:last-child) {
    margin-right: 15px;
    
   
}
.skills__header{
    font-size: 50px;
    text-align: center;
    margin: 10px auto;
}

.skills{
    display: flex;
    flex-direction: column;
}